<section class="products-show">

  <header class="page-header">
    <h1><%= link_to @product.category.name, @product.category %> &raquo; <%= @product.name %></h1>
  </header>

  <article class="product-detail">

    <div class="row">

      <div class="col-sm-4">
        <%= image_tag @product.image.url, class: 'main-img' %>
      </div>

      <div class="col-sm-8">
        <dl class="dl-horizontal">
          <dt>Name</dt>
          <dd><%= @product.name %></dd>
          <dt>Description</dt>
          <dd><%= @product.description %></dd>
          <dt>Quantity</dt>
          <dd><%= @product.quantity %></dd>
          <dt>Price</dt>
          <dd><%= @product.price %></dd>
        </dl>
      </div>
    </div>

    
    <hr/>
    <div class="col8">
    
    <div class="row">
    
    <% if current_user %>
      <h3>Write a Review:</h3>
          <%= form_for [@product, Review.new] do |f| %>
            <%= f.hidden_field :user_id, :value => current_user.id %>
            <%= f.hidden_field :product_id, :value => @product.id %>
            Description: <%= f.text_area :description, :class => "form-control" %>
            <br/>
            Rating: <%= f.select :rating, [5, 4, 3, 2, 1], :class => "form-control" %>
            <br/><br/>
            <%= f.submit :class => "form-control btn btn-primary" %>
      
          <% end %>
      <% else %>
        <h3> Reviews: </h3>
    <% end %>
      
    </div>

    <hr/>
    
    <div class="row">
      <% @reviews.reverse_each do |review| %>
        <p><%= review.user.name %></p>
        
        <% review.rating.to_i.times do  %>
          <span class="glyphicon glyphicon-star"></span>
        <% end %>
        <br/><br/>
        <p><%= review.description %></p>
        <p><%= review.created_at.strftime('%v') %>
        <br/>
        <div>
        <% if current_user && current_user.id == review.user.id %>
          <%= link_to 'Delete', product_review_path(product_id: @product.id, id: review.id), method: :delete %>
        <% end %>
        </div>
        <hr/>
      <% end %>
    </div>
        </div>
  </article>

</section>
